img{
    width: 110px;
}

#personas{
    width: 110px;
    border-radius: 50%;
}

#tareas{
    width: 150px;
    border-radius: 20%;
}

h1{
    text-align: center;
    display:inline;
}

#tarea{
    margin-right: 15px;
}

#perfil{
    margin-left: 15px;
}

@media screen and (max-width: 1200px) {
    #personas{
        width: 100px;
        border-radius: 50%;
    }
    
    #tareas{
        width: 140px;
        border-radius: 20%;
    }
}

@media screen and (max-width: 400px) {
    #personas{
        width: 65px;
        border-radius: 50%;
    }
    
    #tareas{
        width: 90px;
        border-radius: 20%;
    }
}


