<ion-card>
  <ion-card-header>
      <img id="tarea" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" /><h1>-></h1>
      
      <img id="perfil" src="\assets\user.png">
    <ion-card-subtitle>{{assignment.dateAndTime}}</ion-card-subtitle>
    <ion-button icon-only fill="clear" (click)="onEditClick()"><ion-icon style="zoom:1.5" name="pencil-sharp"></ion-icon></ion-button>
    <ion-button icon-only fill="clear" color="danger" (click)="onDeleteClick()"><ion-icon style="zoom:1.5" name="close-sharp"></ion-icon></ion-button>
  </ion-card-header>
</ion-card>

