#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 30px;
  line-height: 22px;

  color: #0f0e0eb4;

  margin: 10px;
}

#container a {
  text-decoration: none;
}

ion-menu::part(backdrop) {
  background-color: rgba(255, 0, 255, 0.5);
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;

  box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.18);
}
body, html {
  padding: 0;
  margin:  0;
  width: 100%;
  height: 100%;
  // overflow: hidden;
}

body {
  background: rgba(241, 226, 215, 0.2);
  position: relative;
  background: #FD5061;
}
