<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>Botones para acceder a otras páginas:</p>
    <ion-button (click)="abrirPersons()">Person</ion-button>
    <ion-button (click)="abrirAssign()">Assign</ion-button>
    <ion-button (click)="abrirTasks()">Tasks</ion-button>
  </div>
</ion-content>
