<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>      
      {{ 'task-detail.tabName' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss()" translate [translateParams]="{ lang: language }" >task-detail.close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <ion-item>
      <ion-label position="floating" translate [translateParams]="{ lang: language }">
        task-detail.name
      </ion-label>
      <ion-input type="text" placeholder="Introduce el nombre" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" translate [translateParams]="{ lang: language }">
        task-detail.description
      </ion-label>
      <ion-input type="text" placeholder="Introduce la descripción" formControlName="description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" translate [translateParams]="{ lang: language }">
        task-detail.time
      </ion-label>
      <ion-input type="text" placeholder="Introduce los segundos" formControlName="timeInSeconds"></ion-input>
    </ion-item>
    
    <ion-button [disabled]="!form.valid" type="submit">{{mode=="Edit"?"Modificar":"Cambiar"}}</ion-button>
  </form>
</ion-content>